<div class="container">
<tr>
<th class="th1">
<div class="card" >
    <img src="https://cdn1.iconfinder.com/data/icons/ios-11-glyphs/30/car-512.png" alt="Avatar" style="width:10%">
    <div class="container1">
      <h4><b>John Doe</b></h4> 
      <p>Architect & Engineer</p> 
    </div>
  </div>    
</th>
<th class="th2">
  <div class="card ">
    <img src="https://cdn1.iconfinder.com/data/icons/ios-11-glyphs/30/car-512.png" alt="Avatar" style="width:10%">
    <div class="container1">
      <h4><b>John Doe</b></h4> 
      <p>Architect & Engineer</p> 
    </div>
  </div>    
</th>
<th class="th3"> 
  <div class="card" >
    <img src="https://cdn1.iconfinder.com/data/icons/ios-11-glyphs/30/car-512.png" alt="Avatar" style="width:10%">
    <div class="container1">
      <h4><b>John Doe</b></h4> 
      <p>Architect & Engineer</p> 
    </div>
  </div>    
</th>
</tr>

<tr>
    <th class="th1">
    <div class="card" >
        <img src="https://cdn1.iconfinder.com/data/icons/ios-11-glyphs/30/car-512.png" alt="Avatar" style="width:10%">
        <div class="container1">
          <h4><b>John Doe</b></h4> 
          <p>Architect & Engineer</p> 
        </div>
      </div>    
    </th>
    <th class="th2">
      <div class="card ">
        <img src="https://cdn1.iconfinder.com/data/icons/ios-11-glyphs/30/car-512.png" alt="Avatar" style="width:10%">
        <div class="container1">
          <h4><b>John Doe</b></h4> 
          <p>Architect & Engineer</p> 
        </div>
      </div>    
    </th>
    <th class="th3"> 
      <div class="card" >
        <img src="https://cdn1.iconfinder.com/data/icons/ios-11-glyphs/30/car-512.png" alt="Avatar" style="width:10%">
        <div class="container1">
          <h4><b>John Doe</b></h4> 
          <p>Architect & Engineer</p> 
        </div>
      </div>    
    </th>
    </tr>

    
    <tr>
        <th class="th1">
        <div class="card" >
            <img src="https://cdn1.iconfinder.com/data/icons/ios-11-glyphs/30/car-512.png" alt="Avatar" style="width:10%">
            <div class="container1">
              <h4><b>John Doe</b></h4> 
              <p>Architect & Engineer</p> 
            </div>
          </div>    
        </th>
        <th class="th2">
          <div class="card ">
            <img src="https://cdn1.iconfinder.com/data/icons/ios-11-glyphs/30/car-512.png" alt="Avatar" style="width:10%">
            <div class="container1">
              <h4><b>John Doe</b></h4> 
              <p>Architect & Engineer</p> 
            </div>
          </div>    
        </th>
        <th class="th3"> 
          <div class="card" >
            <img src="https://cdn1.iconfinder.com/data/icons/ios-11-glyphs/30/car-512.png" alt="Avatar" style="width:10%">
            <div class="container1">
              <h4><b>John Doe</b></h4> 
              <p>Architect & Engineer</p> 
            </div>
          </div>    
        </th>
        </tr>
        
</div>