<div class="container">
<tr>
<th class="th1">
<div class="card" (click)="detail('ABC',500)">
    <img src="https://cdn1.iconfinder.com/data/icons/ios-11-glyphs/30/car-512.png" alt="Avatar" style="width:10%">
    <div class="container1">
      <h4><b>ABC</b></h4> 
      <p>500 Rs.</p> 
    </div>
  </div>    
</th>
<th class="th2">
  <div class="card" (click)="detail('PQR',300)">
    <img src="https://cdn1.iconfinder.com/data/icons/ios-11-glyphs/30/car-512.png" alt="Avatar" style="width:10%">
    <div class="container1">
      <h4><b>PQR</b></h4> 
      <p>300 Rs.</p> 
    </div>
  </div>    
</th>
<th class="th3"> 
  <div class="card" (click)="detail('XYZ',600)">
    <img src="https://cdn1.iconfinder.com/data/icons/ios-11-glyphs/30/car-512.png" alt="Avatar" style="width:10%">
    <div class="container1">
      <h4><b>XYZ</b></h4> 
      <p>600 Rs.</p> 
    </div>
  </div>    
</th>
</tr>

<tr>
    <th class="th1">
    <div class="card" (click)="detail('QWE',100)" >
        <img src="https://cdn1.iconfinder.com/data/icons/ios-11-glyphs/30/car-512.png" alt="Avatar" style="width:10%">
        <div class="container1">
          <h4><b>QWE</b></h4> 
          <p>100 RS.</p> 
        </div>
      </div>    
    </th>
    <th class="th2">
      <div class="card  " (click)="detail('ZCX',400)">
        <img src="https://cdn1.iconfinder.com/data/icons/ios-11-glyphs/30/car-512.png" alt="Avatar" style="width:10%">
        <div class="container1">
          <h4><b>ZCX</b></h4> 
          <p>400 RS.</p> 
        </div>
      </div>    
    </th>
    <th class="th3"> 
      <div class="card" (click)="detail('JKL',800)">
        <img src="https://cdn1.iconfinder.com/data/icons/ios-11-glyphs/30/car-512.png" alt="Avatar" style="width:10%">
        <div class="container1">
          <h4><b>JKL</b></h4> 
          <p>800 Rs.</p> 
        </div>
      </div>    
    </th>
    </tr>

    
    <tr>
        <th class="th1">
        <div class="card" (click)="detail('FGH',600)">
            <img src="https://cdn1.iconfinder.com/data/icons/ios-11-glyphs/30/car-512.png" alt="Avatar" style="width:10%">
            <div class="container1">
              <h4><b>FGH</b></h4> 
              <p>600 Rs.</p> 
            </div>
          </div>    
        </th>
        <th class="th2">
          <div class="card " (click)="detail('ASD',250)">
            <img src="https://cdn1.iconfinder.com/data/icons/ios-11-glyphs/30/car-512.png" alt="Avatar" style="width:10%">
            <div class="container1">
              <h4><b>ASD</b></h4> 
              <p>250 Rs.</p> 
            </div>
          </div>    
        </th>
        <th class="th3"> 
          <div class="card"(click)="detail('WER',450)" >
            <img src="https://cdn1.iconfinder.com/data/icons/ios-11-glyphs/30/car-512.png" alt="Avatar" style="width:10%">
            <div class="container1">
              <h4><b>WER</b></h4> 
              <p>450 Rs.</p> 
            </div>
          </div>    
        </th>
        </tr>
        <button routerLinkActive="active" class="continue" routerLink="/car-size">Continue</button>
        <router-outlet></router-outlet>
</div>